@charset "ISO-8859-1";
/* this style is used for the ticket table tiktable */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
   
  }
  
  :root{
    --bg-color: #103f61;
    --second-bg-color: #f1f5f7;
    --main-color: rgb(19, 103, 237);
    --shadow-color: rgb(31, 31, 219);
    --shadow-over: rgb(221, 0, 0);
    --box-color: rgb(31, 31, 219);
  }
  
  html{
    overflow-x: hidden;
  }
  body {
    font-family: Arial;
    /* padding: 10px; */
    /*  background: #f1f1f1; */
    background: var(--second-bg-color);
    
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background: white;
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #0f59d8;
    
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #af1429;
    color: black;
  }
  
  /* A column of three that float next to each other*/
  .columna{
    float: left;
    
    width: 33.33%;
    padding: 15px;
    /* border: 2px solid rgb(65, 8, 8); */
    border-radius: 2px ;
  }
  
  /* the link inside the card , it's the icon */
  .columna .carda a{
    position: relative;
    display: inline-flex;
    
    /* width and height is the area of the cursor link */
    width: 10%;
    height: 10%;
    font-size: 100%;
  
    color: #0f59d8;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
    padding-left: 10px;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    /* background-color: #f1f1f1; */
    padding-left: 20px;
    padding-right: 40px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 15%;
    height: 15%;
    padding: 20px;
    font-size: 100%;
    color: #0f59d8;
  }
  
 
  
  
  /* Add a card effect for the 3 columns*/
  .carda{
      text-align: center;
      background-color: white;
      padding: 20px;
      /* margin-top: 20px; */
      margin: 20px;
      padding: 10px;
      border: 2px solid rgb(26, 0, 0);
      /* border-left: solid; */
      border-radius: 10px;
      box-shadow: 5px 5px 5px var(--shadow-color);
      height: 150px;
  }
  .carda:hover{
     /*  background-color: red; */
      box-shadow: 4px 4px 4px var(--shadow-over);
  }
  /***********************************************/
  
  /* Add a card effect for the 2 columns card */
  .empcard{
    
      text-align: center;
      background-color: white;
      padding: 20px; 
      padding-top: 20px;
      padding-bottom: 50px;
      margin-top: 20px;
      margin-left: 5px;
      margin-right: 5px;
      border: 2px solid rgb(26, 0, 0);
      border-radius: 10px;
      /* box-shadow: 5px 5px 5px rgb(234, 115, 115); */
      box-shadow: 5px 5px 5px var(--shadow-color);
  }
  
  .empcard:hover{
      box-shadow: 4px 4px 4px var(--shadow-over);
  }
  
  .card {      
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 5px;
    border: 2px solid rgb(26, 0, 0);
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--shadow-color);
  }
  
  .card:hover{
    /* background-color: red; */
    box-shadow: 4px 4px 4px var(--shadow-over);
  }
  
    
  .tikcard{
    height: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
  	background-color: #103f61;
  	margin-left: 5%;
  	margin-right: 5%;
  	border: 4px solid rgb(128, 255, 0);
  	padding: 20px;
  	padding-bottom: 50px;
  	color: white;
  }
  
  
  
  /* Form formatting */
  .form{
      border: 2px solid green;
      border-radius: 5px;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 60px;
      margin-bottom: 20px;
      /* text-align: left; */
  }
  
  .formB{
  	  border: 2px solid red;
      border-radius: 5px;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 60px;
      margin-bottom: 20px;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    margin-right: 2px;
  }
  
  .col-25 {
      padding: 2px;
    float: left;
    width: 25%;
    margin-top: 6px;
    border-bottom: #04AA6D;
    border-top: none;
    border-left: none;
    border-right: #04AA6D;
    border-style: none solid solid none;
    border-width: 1px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
    box-shadow: 1px 1px 1px 1px var(--shadow-over);
  }
  
.buglinks{
  overflow: hidden;
  background-color: black;
  color: white;
  /*  padding: 10px; */
}

.columna .carda .buglinks .buggya{
  float:left;
    display: block;
    color: rgb(249, 0, 0);
    text-align:center;
    padding: 20px 10px 40px 10px;
    text-decoration: none;
    width: 20%;
    height: 40%;
}

/* Table formating */
  .tablediv{
    box-shadow: 1px 1px 1px 1px var(--shadow-color);
    padding: 10px;
    width: 100%;
    text-align: center;
  }

 
.addemptable{
	width: 100%;
	border: 1px solid black;
  	border-collapse: collapse;
  	
}

.addemptable th{
	 padding: 15px;
  	 text-align: left;
  	 background-color: red;
}

/* edit ticket table*/
 table.tiktable{
    width: 60%;
    border: 1px solid rgb(254, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  	margin-left: 25%;
  }
  
 
  
 table.tiktable th{
    text-align: center;
    background-color: #04AA6D;
    color: white;
    width: 10%;
  }



 table.tiktable td{
    width: 100%;
    padding: 5px;
    border-color: green;
  }

/* 
  .tiktable  input[type=text]{
    border: 2px solid red;
    border-radius: 4px;
    width: 100%;
    outline: none;
  }
  */
  
  /* this works */ 
  .tiktable .tikid input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
    width: 20%;
    outline: none;
    background-color: blue;
    color: red;
    text-align: center;
    margin-right: 75%;
  }

  .tiktable  input[type=text]:focus{
    background-color: lightblue;
    border:  solid red;
  }

  .tiktable  input[type=number]{
    width: 100px;
  }
  
  /* TextArea for the Ticket Log*/
  textarea{
  	width: 100%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 14px;
	resize: none;
  }
  
  .square {
  	background-color: #2ecc71;
  	width: 200px;
  	height: 200px;
  }
  
  /* Clear floats after the columns */
  .formrow::after {
    content: "";
    display: table;
    clear: both;
  }
  
  
   /* the notes box for the ticket */
  .tiktoknotes{
  	height: 300px;
  	width: 75%;
  	border: 4px solid red;
  	background-color: #FFAFA4;
  	margin-left: 5%;
  	margin-top: 60px;
  	padding: 30px;
  } 
  
  .tiktoknotes:hover{
  	box-shadow: 4px 4px 4px var(--shadow-over);
  }
  /* ---------------------------------------------------------------*/
  
  
  /* Drop downs  */
  .dropdown{
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content{
    display: none;
    position: absolute;
    color: white;
    background-color: #103f61;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px red;
    padding: 10px 14px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content{
    display: block;
  }
  
  /* Footer */
  .footer {
    position: fixed;  /* fixed, not moving */ 
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex: wrap;
    padding: 2rem 20px;
    text-align: center;
    align-items: center;
    background: #ddd;
     margin-top: auto; 
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  
    .columna{
      width: 100%;
      padding: 0;
    }
    
  }
  
  @media screen and (max-width: 700px) {
    .carda{
      float: none;
      width: 100%;
      height: 100%;
      padding: 0;
      font-size: 60%;
      margin: auto;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }