<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>  
  
  <servlet>
  	<servlet-name>Controller</servlet-name>
  	<servlet-class>com.web.ControllerServlet</servlet-class>
  	
  	<init-param>
   		<param-name>dbname</param-name>
   		<param-value>JiraDB</param-value>
   	</init-param>
   	
  	<init-param>
   		<param-name>dbuser</param-name>
   		<param-value>nurali</param-value>
   	</init-param>
   	
   	<init-param>
   		<param-name>dbpassword</param-name>
   		<param-value>java1973</param-value>
   	</init-param>
   	
   	<!--  DB read only  -->
   	<init-param>
   		<param-name>dbreadonly</param-name>
   		<param-value>dbguest</param-value>
   	</init-param>
   	
   	<init-param>
   		<param-name>dbreadonlypass</param-name>
   		<param-value>123</param-value>
   	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Controller</servlet-name>
  	<url-pattern>/main</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Controller</servlet-name>
  	<url-pattern>/newgroup</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Controller</servlet-name>
  	<url-pattern>/searchgroup</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Controller</servlet-name>
  	<url-pattern>/newemployee</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Controller</servlet-name>
  	<url-pattern>/searchemp</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
  	<servlet-name>Controller</servlet-name>
  	<url-pattern>/newbug</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Controller</servlet-name>
  	<url-pattern>/searchbug</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Controller</servlet-name>
  	<url-pattern>/listallbugs</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Controller</servlet-name>
  	<url-pattern>/newticket</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
  	<servlet-name>Controller</servlet-name>
  	<url-pattern>/listalltickets</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
  	<servlet-name>Controller</servlet-name>
  	<url-pattern>/ticketsearch</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
  	<servlet-name>Controller</servlet-name>
  	<url-pattern>/editbug</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Controller</servlet-name>
  	<url-pattern>/editticket</url-pattern>
  </servlet-mapping>
  
  <!--  add notes for the Ticket -->
  <servlet-mapping>
  	<servlet-name>Controller</servlet-name>
  	<url-pattern>/addnotesticket</url-pattern>
  </servlet-mapping>
  
  <!--  update the Ticket details -->
  <servlet-mapping>
  	<servlet-name>Controller</servlet-name>
  	<url-pattern>/updateticket</url-pattern>
  </servlet-mapping>
  
  <error-page>
   <exception-type>java.lang.Throwable</exception-type>
   <location>/Error.jsp</location>
   </error-page>
</web-app>
